{% extends 'analysispage.html' %}

{% block title %}Individual &#187; <span>{{ individual }}</span>{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
{% endblock %}

{% block innercontent %}
    <div class="container">
        <h4>About this Individual</h4>
        <dl class="dl-horizontal">
            <dt>Individual ID</dt>
            <dd>{{ individual.indiv_id }}</dd>
            <dt>Nickname</dt>
            <dd>{% if individual.nickname %}{{ individual.nickname }}{% else %}.{% endif %}</dd>
        </dl>
        <div class="analysis-options-box">
            <h6 class="section-header">Analysis</h6>
            {% if individual.has_coverage_data %}
            <div class="analysis-box">
                <a href="" class="big-link-text">Exome Coverage</a>
                <p>See which parts of the exome could be analyzed, and which may require further sequencing.</p>
            </div>
            {% endif %}
        </div>
    </div>
    <!--ah2264-->
    <div id="dashboard_div">
        <div id="filter_div"></div>
        <div id="chart_div"></div>
    </div>
    <!---->
{% endblock %}

{% comment ah2264%} {% endcomment %}
{% block extrahead %}
    {% comment %} {{ block.super }} {% endcomment %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});
        google.charts.setOnLoadCallback(drawDashboard);
    
        function drawDashboard() {


        url = '/api/alyssa';

        var xhr = $.ajax({
                url: url,
                type: 'POST',
                success: function(data){
                  //console.log(data);
                  var data = new google.visualization.DataTable(data);
                  var view = new google.visualization.DataView(data);
                  view.setColumns([0, 1, 2, 3,
                        {
                                calc: function (dt, row) {
                                        if ((dt.getValue(row, 3) === "Kangsoo")) {
                                                console.log('Kangsoo matched');
                                                //return 'red';
                                        }
                                        console.log(dt.getValue(row,3));
                                },
                                type: 'string',
                                role: 'style',
                        },
                  ]);
                  var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
                  var dropDown = new google.visualization.ControlWrapper({
                          controlType: 'CategoryFilter',
                          containerId: 'filter_div',
                          options: {
                                  filterColumnIndex: 3 
                          }
                  }); 
                  var chart1 = new google.visualization.ChartWrapper({
                          chartType: 'ComboChart',
                          containerId: 'chart_div',
                          options: {
                                  //view: {columns: [0, 1, 2]},
                                  height: 600,
                                  width: 1300,
                                  series: {
                                          0: {type: 'line', 
                                              curveType: 'function', 
                                              targetAxisIndex: 0, 
                                              labelInLegend: "dbsnp ins del ratio"},
                                          1: {type: 'bars', 
                                              color: '#B5D3E7',  
                                              targetAxisIndex: 1, 
                                              labelInLegend: "singletons"},
                                  },
                                  vAxes: {
                                          0: {title: 'dbsnp ins del ratio'},
                                          1: {title: 'singletons'}
                                  },
                                  hAxis: {
                                          //slantedText: false if you want full, layered horizontal x-axis labels
                                          slantedText: true,
                                          slantedTextAngle: 45
                                  }
                          }
                  });
                  chart1.setView({'columns': [0, 1, 2]}); 
                  dashboard.bind(dropDown, chart1);
                  dashboard.draw(view);
                }
        });
        }
    </script>
{% endblock %}